/* common.css */

body {
    padding-top: 50px;
}

.irb-vps-main {
    padding: 80px 15px;
    text-align: center;
}
.irb-vps-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.irb-vps-avatar img {
    width: 250px;
}

a:hover {color: black; text-decoration:underline;}
