
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_e8fzagi7qzbsm7vi.eot?t=1483357107810'); /* IE9*/
  src: url('//at.alicdn.com/t/font_e8fzagi7qzbsm7vi.eot?t=1483357107810#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_e8fzagi7qzbsm7vi.woff?t=1483357107810') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_e8fzagi7qzbsm7vi.ttf?t=1483357107810') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_e8fzagi7qzbsm7vi.svg?t=1483357107810#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before { content: "\e6ae"; }

.icon-coding:before { content: "\e604"; }

.icon-weibo:before { content: "\e64b"; }

.icon-link:before { content: "\e80f"; }

.icon-pin:before { content: "\e6f2"; }

.icon-github:before { content: "\eaf6"; }

.icon-qq:before { content: "\e60a"; }

.icon-icp:before { content: "\e614"; }

.icon-mail:before { content: "\e689"; }
