@font-face {
    font-family:'EngraversOldEnglishBT-Bold';
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5c8368acf629d806a46ebc9d.gif?r=100509484700');
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5c8368acf629d806a46ebc9d.gif?r=100509484700?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5c8368acf629d806a46ebc9d.png?r=100509484700') format('woff2'), url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5c8368acf629d806a46ebc9d.bmp?r=100509484700') format('woff');
    font-weight: normal;
    font-style: normal;
}