@font-face {
    font-family: 'EngraversOldEnglishBT-Bold';
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5bbb4a8ff629d9157ca681bc.gif?r=87394575846');
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5bbb4a8ff629d9157ca681bc.gif?r=87394575846?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5bbb4a8ff629d9157ca681bc.png?r=87394575846') format('woff2'), url('//cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5bbb4a8ff629d9157ca681bc.bmp?r=87394575846') format('woff');
    font-weight: normal;
    font-style: normal;
}