@charset "UTF-8";

@font-face {
  font-family: "oldenglishtextmt2";
  src: url("oldenglishtextmt2.woff2") format("woff2"),
       url("oldenglishtextmt2.woff") format("woff"),
       url("oldenglishtextmt2.ttf") format("truetype"),
       url("oldenglishtextmt2.eot") format("embedded-opentype"),
       url("oldenglishtextmt2.svg") format("svg");
  src: local("Old English Text MT");
  font-weight: normal;
  font-style: normal;
}